<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leagues Available</title>
</head>
<body>
    <header>
        <h2>Available League </h2>
    </header>
    <hr>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">League Name</th>
            <th scope="col">Year</th>
            <th scope="col">Season</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Champions League</td>
            <td>2021</td>
            <td>Summer</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>UEFA</td>
            <td>Winter</td>
            <td>2022</td>
          </tr>
         
        </tbody>
      </table>
      
     
      <button type="button" class="btn btn-link"><a href="/">HOME</a></button>
</body>
</html>